.leaderboard {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.leaderboard ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.leaderboard li {
  background-color: #fff;
  padding: 5px 10px;
  border-bottom: 1px solid #ccc;
}

.leaderboard li:last-child {
  border-bottom: none;
}

